@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
:root {
  --line-color: #d7bcbc;
  --bg-color: #ebe9e3;
  --bg-color-dark: #020202;
  --black-text: #1c1c1c;
  --black-pure: #000;
  --border-contact-libele: #818181;
  --border-contact-libele-text: #999;
  --blue: #137ce5;
  --height-champ: 4.35185vh;
  transition: all 0.4s ease-in-out;
}
.phone {
  display: none;
}
* {
  transition: all 0.4s ease-in-out;
}
html {
  transition: all 0.4s ease-in-out;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  transition: all 0.4s ease-in-out;
}
a {
  text-decoration: none;
  color: var(--bg-color);
}
.contact-socials {
  display: flex;
  justify-content: space-around;
  width: 770px;
  align-items: center;
}
.contact-socials > path {
  color: black;
  fill: black;
}
body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}
html.dark-mode,
body.dark-mode {
  background-color: #020202;
}
.transition * {
  transition: all 0.4s ease-in-out; /* Ajoute une transition de 0.4s en douceur */
}

.pc.contact-layer,
.pc.contact-layer.dark-mode {
  position: fixed;
  right: -5px;
  top: 50%;
  z-index: 60;
  min-height: 735px;
  width: 770px;
  background-color: var(--bg-color);
  fill: var(--bg-color);
  stroke-width: 1px;
  stroke: #fff;
  opacity: 0.95;
  filter: drop-shadow(0px 4px 26px var(--black-pure));
  border-radius: 40px;
  transform: translate(100%, -43%);
}
.en {
  font-family: Poppins;
  color: black;
}
.en.dark-mode {
  color: white;
}
.fr {
  font-family: Poppins;
  color: black;
}
.fr.dark-mode {
  color: white;
}
.pc.contact-layer.centered,
.pc.contact-layer.dark-mode.centered {
  transform: translate(-05%, -43%);
  z-index: 65;
}
.pc.contact-layer.dark-mode {
  background-color: #0d0c0c;
  border: 1px solid gray;
}
.contact-libelle {
  margin-top: 30px;
  color: #9d9191;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-libelle.dark-mode {
  color: white;
}
.let-s-talk {
  flex-shrink: 0;
  color: var(--blue);
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 35px;
  margin-top: 30px;
  margin-left: 1.8vw;
}
.let-s-talk.dark-mode {
  background: linear-gradient(180deg, #fff 0%, rgba(19, 124, 229, 0.35) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.formulaire-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 100%;
  gap: 3vh;
}
.full-name.champ {
  width: 320px;
  height: 47px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.full-name.champ > p {
  color: var(--border-contact-libele-text);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1vw;
}
.email.champ {
  width: 320px;
  height: 47px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.email.champ > p {
  color: var(--border-contact-libele-text);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1vw;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
}
.phone-number.champ {
  width: 320px;
  height: 47px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.phone-number.champ > p {
  color: var(--border-contact-libele-text);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1vw;
}
.purpose.champ {
  width: 320px;
  height: 47px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.purpose.champ > p {
  color: var(--border-contact-libele-text);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1vw;
}
.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
}
.details.width-100.row-4 {
  width: 87.5%;
  height: 47px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.details.width-100 > p {
  color: var(--border-contact-libele-text);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1vw;
}
.rowx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vw;
}
.row-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vw;
}
.send-button-main {
  width: 87.5%;
  height: 65px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.send-button-main > p {
  color: var(--black-pure);
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.send-button-main.dark-mode {
  border: 1px solid white;
}
.send-button-main.dark-mode > p {
  color: white;
}
.row-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vw;
}
.or {
  color: #8f8f8f;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2.5vh;
  margin-bottom: 2vh;
}
.or.dark-mode {
  color: white;
}
.send-email {
  width: 40%;
  height: 45px;
  border-radius: 14px;
  border: 1px solid var(--border-contact-libele);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.send-email > p {
  color: black;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.send-email.dark-mode > p {
  color: white;
}
.row-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.black {
  color: var(--black-text);
  font-family: Poppins, sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.black.dark-mode {
  color: #ebe9e3;
}
.nav-flexbox-container {
  display: flex;
  grid-area: 2/4/8/20;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5vh;
  background-color: transparent;
}
.nav-flexbox-container.dark-mode {
  background-color: transparent;
}
.louis {
  width: calc(875 / 96 * 1vw);
  height: calc(145 / 18 * 1vh);
  opacity: 0;
  animation: appear 2s ease-in-out forwards;
  animation-delay: 1s;
  margin-left: 1vw;
}
.louis:hover {
  transform: scale(1.1);
}

.hamburger:hover,
.black:hover,
.hamburger_2:hover,
.slider:hover {
  transform: scale(1.1);
}
.louis.clicked {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.hamburger {
  height: calc(67.5 / 1920 * 100vw);
  width: 4vw;
  margin-left: 12.1vh;
  margin-bottom: 0.2vh;
  cursor: pointer;
  opacity: 0;
  animation: appear 2s ease-in-out forwards;
  animation-delay: 1.25s;
  z-index: 999;
}
.hamburger.dark-mode {
  color: white;
}
path.dark-mode {
  stroke: wheat;
  stroke-width: calc(0.185185vh);
}
.bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: black;
  transition: all 0.3s ease;
}
.menu-icon.isopen .top-bar {
  transform: rotate(45deg);
  transform-origin: center;
  /* Define a Y-translation to correctly position the bar */
  transform: translateY(6.5px) translateX(-7px) rotate(45deg);
}
.menu-icon.isopen .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: center;
  /* Define a Y-translation to correctly position the bar */
  transform: translateY(-11px) translateX(-7px) rotate(-45deg);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  opacity: 0%;
  animation: appear 2s ease-in-out forwards;
  animation-delay: 4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.slider:hover {
  transform: scale(1.1);
}

.slider.clicked {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
/* Lorsque l'utilisateur coche la case, changez l'arrière-plan du slider */
input:checked + .slider {
  background-color: #2196f3;
}

/* Déplacez le slider lorsque l'utilisateur coche la case */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Style rond pour le slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.menu {
  list-style: none;
  padding: 0;
}
.menu-item {
  opacity: 0;
  margin: calc(35 / 1920 * 100vw);
  font-family: Poppins;
  color: #fff;
  font-size: calc(55 / 1920 * 100vw);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.menu-item.hide {
  opacity: 0 !important;
  transform: translateX(-100%);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(276.831 / 1920 * 100vw);
  height: calc(98 / 1920 * 100vw);
  border-radius: calc(50 / 1920 * 100vw);
  background: #5d5d5d;
  flex-shrink: 0;
  margin-top: 3vh;
  margin-right: 3vw;
}
.contact-container.dark-mode {
  background-color: #137ce5;
}
.contact-button {
  cursor: pointer;
  color: #fff;
  font-family: Gotham, sans-serif;
  font-size: calc(48 / 1920 * 100vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0;
  animation: appear 2s ease-in-out forwards;
  animation-delay: 1.5s;
  z-index: 5;
}
.contact-button:hover {
  transform: scale(1.1);
}

.contact-button.clicked {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 5vh 15vh 7vh 10vh 5vh 15vh 10vh 12vh 10vh 5vh 8vh 10vh 5vh 12vh 10vh 10vh 10vh 22vh 10vh 1fr;
  grid-template-columns: 1vw 2vw 7.5vw 7.5vw 4vw 4vw 4vw 4vw 4vw 4vw 6vw 5vw 3vw 4vw 4vw 4vw 4vw 5vw 6vw 4vw 4vw 4vw 1fr;
}
.card {
  fill: #000;
  filter: drop-shadow(2px 4px 26px #000);
  box-shadow: 8px 0px 10px black;
  width: 100%;
  height: 100%;
  border: double 1px transparent;
  background-image: linear-gradient(#030303, #030303),
    linear-gradient(180deg, white, rgba(205, 152, 90, 0.25));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 3.7vh;
  opacity: 100%;
  transition: transform 0.5s;
  will-change: transform;
}
.card.dark-mode {
  filter: drop-shadow(0px 0px 0px #000);
  fill: #0d0c0c;
  border: double 1px transparent;
  background-image: linear-gradient(#030303, #030303),
    linear-gradient(180deg, white, rgba(205, 152, 90, 0.25));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.card:hover {
  transform: scale(1.1);
}
img {
  object-fit: cover;
  position: absolute; /* Ajouté pour couvrir le conteneur parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.7vh;
}
.tlc {
  grid-area: 3/3/8/8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tlc > img,
.tlc > img.dark-mode {
  opacity: 100%;
}

.b {
  display: none;
}
.b.dark-mode {
  display: block;
}
img.a.dark-mode {
  display: none;
}
.trc {
  grid-area: 1/17/9/23;
}

.projects {
  grid-area: 5/10/6/15;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 95%;
  fill: var(--line-color);
  background-image: linear-gradient(#f7f7f4, #f7f7f4),
    linear-gradient(180deg, white, rgba(205, 152, 90, 0.25));
}
.projects > p {
  color: #000;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projects > p.dark-mode {
  color: #ebe9e9;
}
.mdl {
  grid-area: 9/4/15/13;
}
.mdr {
  grid-area: 11/16/18/22;
}
.blc {
  grid-area: 16/3/-3/13;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
.hidden .blc {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* La ligne atteint la largeur totale à la fin de l'animation */
  }
}
@keyframes slideInTopToBottom {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
    z-index: 10000;
  }
  100% {
    opacity: 0%;
    display: none;
    z-index: -93;
  }
}
